[user]
  name = Marek Lukaszuk
  email = m.lukaszuk@gmail.com
	signingkey = 96ADCC4C

[color]
  diff = auto
  status = auto
  branch = auto

[alias]
  co = checkout
  ci = commit -a
  st = status -s
  d = difftool
  send = push --all -q
  get = pull -q

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[gc]
  auto = 1
[core]
  compression = 9

